/* src/components/Input.module.css */
.label {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}

.text {
  display: block;
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  font-size: 0.9rem;
}
